<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console:normal">
            <PatternLayout pattern="%d %5p - %msg%n"/>
        </Console>
        <RollingFile name="file:normal" fileName="portal.log" filePattern="portal.%i.log">
            <PatternLayout pattern="%d %5p - %msg%n"/>
            <DefaultRolloverStrategy max="1"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="4MB"/>
            </Policies>
        </RollingFile>

        <Console name="console:access">
            <PatternLayout pattern="%d %msg%n"/>
        </Console>
        <RollingFile name="file:access" fileName="portal.access.log" filePattern="portal.access.%i.log">
            <PatternLayout pattern="%d %msg%n"/>
            <DefaultRolloverStrategy max="1"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="4MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="dfxyz.portal:normal" level="info" additivity="false">
            <AppenderRef ref="console:normal"/>
            <AppenderRef ref="file:normal"/>
        </Logger>
        <Logger name="dfxyz.portal:access" level="info" additivity="false">
            <AppenderRef ref="console:access"/>
            <AppenderRef ref="file:access"/>
        </Logger>
    </Loggers>
</Configuration>
