#portal.server.host=localhost
#portal.server.port=4200
#portal.client.maxPoolSize=64

#portal.directProxy.enable=true
#portal.directProxy.remoteRule.b64Encoded=true
#portal.directProxy.remoteRule.url=url1[,url2,url3,...]

#portal.directProxy.relayType=[portal|proxy]

#portal.directProxy.relay.portal.url=https://remotehost/
#portal.directProxy.relay.portal.auth=the-cake-is-a-lie
#portal.directProxy.relay.portal.client.maxPoolSize=512

#portal.directProxy.relay.proxy.protocol=[http|socks4|socks5]
#portal.directProxy.relay.proxy.host=localhost
#portal.directProxy.relay.proxy.port=1080
#portal.directProxy.relay.proxy.username=
#portal.directProxy.relay.proxy.password=
#portal.directProxy.relay.proxy.client.maxPoolSize=512

#portal.relayedProxy.enable=true
#portal.relayedProxy.auth=the-cake-is-a-lie
