{
  "instanceNumber": "auto",
  "host": "localhost",
  "port": 4200,
  "clientPoolSizePerEndpoint": 32,
  "web": {
    "enabled": true,
    "username": "portal",
    "password": "portal"
  },
  "directProxy": {
    "enabled": true,
    "defaultMode": "rule",
    "username": "portal",
    "password": "portal",
    "remoteProxyRuleUrls": [],
    "relayHandlerType": "portal",
    "portalRelayHandler": {
      "url": "http://localhost/",
      "password": "the-cake-is-a-lie",
      "clientPoolSize": 128
    },
    "proxyRelayHandler": {
      "protocol": "http",
      "host": "localhost",
      "port": 1080,
      "username": "",
      "password": "",
      "clientPoolSizePerEndpoint": 32
    }
  },
  "relayProxy": {
    "enabled": true,
    "password": "the-cake-is-a-lie"
  }
}
