#portal.host=localhost
#portal.port=4200

#portal.proxy.enable=true
#portal.proxy.clientPoolSize=8
#portal.proxy.externalRule.url=https://raw.githubusercontent.com/gfwlist/gfwlist/master/gfwlist.txt
#portal.proxy.externalRule.base64Encoded=true

#portal.proxy.relay.type=[portal|proxy]

#portal.proxy.relay.portal.url=http://localhost:4200/
#portal.proxy.relay.portal.authenticate=the-cake-is-a-lie
#portal.proxy.relay.portal.clientPoolSize=32

#portal.proxy.relay.proxy.protocol=[http|socks4|socks5]
#portal.proxy.relay.proxy.host=localhost
#portal.proxy.relay.proxy.port=1080
#portal.proxy.relay.proxy.username=
#portal.proxy.relay.proxy.password=
#portal.proxy.relay.proxy.clientPoolSize=32

#portal.relay.enable=true
#portal.relay.authenticate=the-cake-is-a-lie
